.home-page {
  position: relative;
  width: 100%;
  display: flex;
  height: auto;
  background: white;
}

.home-page .check-afisha-frame .stk {
  position: relative;
  display: flex;
  flex-direction: row;
}

.home-page .check-afisha-frame .box-item {
  position: relative;
  width: 620px;
  height: 640px;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  z-index: 1;
  background: rgb(231, 250, 254);
}

.home-page .check-afisha-frame .box-item .hot-recipes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 45px;
  border-radius: 30px;

  background: rgb(255, 255, 255);
}

.home-page .check-afisha-frame .box-item .hot-recipes p {
  position: relative;
  width: 79px;
  height: 17px;
  color: rgb(0, 0, 0);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: -2%;
  text-align: left;
  margin-left: 15px;
}

.home-page .check-afisha-frame .box-item .tp-1 {
  position: relative;
  width: 520px;
  height: 154px;
  color: rgb(0, 0, 0);
  font-family: "Inter";
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: -4%;
  text-align: left;
}

.home-page .check-afisha-frame .box-item .tp-2 {
  position: relative;
  width: 520px;
  height: 56px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.home-page .check-afisha-frame .box-item .rectangle {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.05);
}

.home-page .check-afisha-frame .box-item .rectangle-1 {
  position: relative;
  width: 120px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.05);
}

.home-page .check-afisha-frame .box-item .men-icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

.home-page .check-afisha-frame .box-item .men-title .typ-1 {
  position: relative;
  width: 86px;
  height: 19px;
  color: rgb(0, 0, 0);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -2%;
  text-align: left;
}

.home-page .check-afisha-frame .box-item .men-title .typ-2 {
  position: relative;
  width: 97px;
  height: 17px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -2%;
  text-align: left;
}

.home-page .check-afisha-frame .box-item .view-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border-radius: 16px;
  background: rgb(0, 0, 0);
}

.home-page .check-afisha-frame .box-item .view-button .view {
  position: relative;
  width: auto;
  height: 17px;
  color: rgb(255, 255, 255);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: -2%;
  text-align: left;
}

.home-page .check-afisha-frame .box-img {
  position: absolute;
  width: 982px;
  height: 640px;
  margin-left: 272px;
  margin-top: 39px;
  z-index: 0;
}

.home-page .check-afisha-frame .icon-ellipse {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 544px;
  top: 69px;
  transform: rotate(180deg);
  z-index: 2;
}

.home-page .check-afisha-frame .icon-hand {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 560px;
  top: 83.85px;
  transform: rotate(-30deg);
  z-index: 2;
}

/** CATEGORIES **/
.home-page .categories-frame {
  position: relative;
  display: flex;
  width: 1300px;
  height: 342px;
  margin-top: 160px;
}

.home-page .categories-frame .cate-text {
  color: rgb(0, 0, 0);
  font-family: var(--font);
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -4%;
  text-align: left;
}

.home-page .categories-frame .cate-button {
  position: relative;
  width: 200px;
  height: 60px;
  border-radius: 16px;
  background: rgb(231, 250, 254);
}

.home-page .categories-frame .cate-button .button-text {
  position: relative;
  width: auto;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -2%;
  text-align: left;
}

.home-page .categories-frame .category-recipe-box {
  position: relative;
  width: 176px;
  height: 202px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(112, 130, 70, 0),
    rgba(112, 130, 70, 0.1) 100%
  );
}

.home-page .categories-frame .category-recipe-box.vegan {
  border-radius: 30px;

  background: linear-gradient(
    180deg,
    rgba(108, 198, 63, 0),
    rgba(108, 198, 63, 0.1) 100%
  );
}

.home-page .categories-frame .category-recipe-box.meat {
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(204, 38, 27, 0),
    rgba(204, 38, 27, 0.1) 100%
  );
}

.home-page .categories-frame .category-recipe-box.dessert {
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(240, 158, 0, 0),
    rgba(240, 158, 0, 0.1) 100%
  );
}

.home-page .categories-frame .category-recipe-box.lunch {
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(240, 158, 0, 0),
    rgba(240, 158, 0, 0.1) 100%
  );
}

.home-page .categories-frame .category-recipe-box.chocolate {
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(204, 38, 27, 0),
    rgba(204, 38, 27, 0.1) 100%
  );
}

.home-page .categories-frame .category-recipe-box .cate-icons {
  position: relative;
  width: 182px;
  height: 107px;
}

.home-page .categories-frame .category-recipe-box .breakfast {
  position: relative;
  width: 81px;
  height: 22px;
  margin-left: 43px;
  color: rgb(0, 0, 0);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -2%;
  text-align: center;
}

/** SIMPLE **/
.simple-frame {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  background-color: white;
  margin-top: 183px;
}

.simple-frame .simple-box {
  position: relative;
  width: auto;
  height: auto;
}

.simple-frame .simple-box .box-title1 {
  position: relative;
  width: 526px;
  height: 58px;
  color: rgb(0, 0, 0);
  font-family: var(--font);
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -4%;
  text-align: left;
}

.simple-frame .simple-box .box-title2 {
  position: relative;
  width: 706px;
  height: 56px;
  color: rgba(0, 0, 0, 0.6);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.simple-frame .simple-box .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #0898b8;
}

.simple-frame .simple-box .recipe-box {
  position: relative;

  width: auto;
  height: 434px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(231, 249, 253, 0),
    rgb(231, 249, 253) 100%
  );
}

.simple-frame .simple-box .recipe-box .recipe-img {
  position: relative;
  margin-left: 15px;
  width: 350px;
  height: 270px;
  border-radius: 30px;
}

.simple-frame .simple-box .recipe-box .recipe-name {
  position: relative;
  margin-top: 27px;
  width: 352px;
  height: 64px;
  color: rgb(0, 0, 0);
  font-family: var(--font);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -4%;
  text-align: left;
}

/** LEAN MORE **/
.lean-more-frame {
  position: relative;
  margin-top: 143px;
  width: auto;
  height: auto;
  display: flex;
  background: white;
}

.lean-more-frame .lean-more-box {
  position: relative;
  width: auto;
  height: 597px;
  background-color: white;
}

.lean-more-frame .lean-more-box .txt-box .lean-more-title {
  position: relative;
  margin-top: 169px;
  width: 526px;
  height: 116px;
  color: rgb(0, 0, 0);
  font-family: var(--font);
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -4%;
  text-align: left;
}

.lean-more-frame .lean-more-box .txt-box .lean-more-text {
  position: relative;
  margin-top: 14px;
  width: 508px;
  height: 84px;
  color: rgba(0, 0, 0, 0.6);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.lean-more-frame .lean-more-box .txt-box .lean-more-button {
  position: relative;
  margin-top: 72px;
  width: 180px;
  height: 60px;
  border-radius: 16px;
  background: rgb(0, 0, 0);
}

.lean-more-frame .lean-more-box .img-back {
  position: absolute;
  width: 580px;
  height: 500px;
  margin-left: 650px;
  margin-top: 100px;

  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(231, 249, 253, 0),
    rgb(231, 249, 253) 100%
  );
}

.lean-more-frame .lean-more-box .lean-more-img {
  position: absolute;
  width: 660px;
  height: 597px;
  z-index: 1;
  margin-left: 550px;
}

.lean-more-frame .lean-more-box .meat-small {
  position: absolute;
  height: 80px;
  left: 700px;
  top: 100.71px;
  transform: rotate(-15deg);
}

.lean-more-frame .lean-more-box .piyoz {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1020.94px;
  top: 100px;
  transform: rotate(15deg);
}

.lean-more-frame .lean-more-box .cabbage {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 1100px;
  top: 200px;
}

.lean-more-frame .lean-more-box .tomato {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 630px;
  margin-top: 480px;
}

/** CHECK INSTAGRAM **/
.check-instagram-frame {
  margin-top: 240px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(231, 249, 253, 0),
    rgb(231, 249, 253) 100%
  );
}

.check-instagram-frame .check-inst-box {
  position: relative;
  width: auto;
  height: 964px;
  display: flex;
}

.check-instagram-frame .check-inst-box .check-inst-title {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check-instagram-frame .check-inst-box .check-inst-title .inst-text1 {
  position: relative;
  width: 796px;
  height: 58px;
  color: rgb(0, 0, 0);
  font-family: var(--font);
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -4%;
  text-align: center;
}

.check-instagram-frame .check-inst-box .check-inst-title .inst-text2 {
  margin-top: 24px;
  position: relative;
  width: 840px;
  height: 56px;
  color: rgba(0, 0, 0, 0.6);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.check-instagram-frame .check-inst-box .insta-boxs {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.check-instagram-frame .check-inst-box .insta-boxs .inst-card {
  position: relative;
  width: 290px;
  height: 445px;
}

.check-instagram-frame .check-inst-box .visit-button {
  position: relative;
  margin-left: 483px;
  margin-top: 81px;
  width: 229px;
  height: 60px;
  border-radius: 16px;
  background: rgb(0, 0, 0);
}

/** DELICIOUS RECIPE **/
.delicious-recipe-frame {
  position: relative;
  margin-top: 160px;
  width: auto;
  height: auto;
  display: flex;
  background: white;
}

.delicious-recipe-frame .del-box .del-title {
  position: relative;
  display: flex;
  align-items: center;
}

.delicious-recipe-frame .del-box .del-title .del-text1 {
  position: relative;
  width: 507px;
  height: 116px;
  color: rgb(0, 0, 0);
  font-family: var(--font);
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -4%;
  text-align: left;
}

.delicious-recipe-frame .del-box .del-title .del-text2 {
  position: relative;
  margin-top: 30px;
  width: 620px;
  height: 56px;
  color: rgba(0, 0, 0, 0.6);
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.delicious-recipe-frame .recipe-box {
  position: relative;

  width: 290px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.delicious-recipe-frame .recipe-box .recipe-img {
  position: relative;
  width: 290px;
  height: 200.2px;
  border-radius: 20px;
}

.delicious-recipe-frame .recipe-box .recipe-name {
  position: relative;
  margin-top: 15px;
  width: 290px;
  height: 52px;
  color: rgb(0, 0, 0);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -4%;
  text-align: left;
}

.delicious-recipe-frame .recipe-box .ellipse-white {
  position: absolute;
  margin-left: 235px;
  margin-top: 10px;
  width: 48px;
  height: 48px;
  z-index: 2;
}

.delicious-recipe-frame .recipe-box .heart {
  position: absolute;
  margin-left: 244px;
  margin-top: 16px;
  width: 30.25px;
  height: 40px;
  z-index: 3;
}
